.idea/
specs/
node_modules/
tmp/
.coveralls.yml
coverage
*.swp
*.bak
*.patch
*#
tmptmp/
demo/
code_gen/*.csv
code_gen/*.xsd
code_gen/*.wsdl
code_gen/*.bsd
code_gen/*.xls
code_gen/*.xml
documentation/worldweatheronline.key
*.tgz
npm-debug.log
output2.bin
Vagrantfile
.vagrant
.c9
output2.bin
_generated_
pending_*
schemas/[0-9]*
schemas/ServerState_enum.js
schemas/ServerStatus_schema.js
schemas/ServiceCounter.js
schemas/ServiceCounter_schema.js
schemas/SessionDiagnostics.js
schemas/SessionDiagnostics_schema.js
schemas/ServerStatus.js
certificates/
bin/openssl/
openssl-1.0.2-i386-win32.zip
open*win*.zip
CTT/
dist/
bin/.history*
test_support/
code_gen/1.02
code_gen/1.03
code_gen/old
out
