.idea/
specs/
node_modules/
tmp/
.coveralls.yml
coverage
*.swp
*#
tmptmp/
demo/
code_gen/*.csv
code_gen/*.xsd
code_gen/*.wsdl
code_gen/*.bsd
code_gen/*.xls
code_gen/*.xml
documentation/worldweatheronline.key
*.tgz
npm-debug.log
output2.bin
Vagrantfile
.vagrant
.c9
output2.bin
_generated_
pending_*

schemas/39394884f696ff0bf66bacc9a8032cc074e0158e
schemas/[0-9a-f]*
_schemas/ServerState_enum.js
_schemas/ServerStatus_schema.js
_schemas/ServiceCounter.js
_schemas/ServiceCounter_schema.js
_schemas/SessionDiagnostics.js
_schemas/SessionDiagnostics_schema.js
_schemas/ServerStatus.js
certificates/
bin/openssl/
openssl-1.0.2-i386-win32.zip
open*win*.zip
CTT/
dist/
bin/.history*
test_support/
code_gen/1.02
code_gen/1.03
code_gen/old
out
