image: node:16

stages:
  - build
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/
    - node_modules/
    - packages/
    - ~/.pnpm-store

build_and_test:
  variables:
     KUBERNETES_CPU_REQUEST: 4
     KUBERNETES_CPU_LIMIT: 4
     KUBERNETES_MEMORY_REQUEST: 4Gi
     KUBERNETES_MEMORY_LIMIT: 4Gi
  stage: build
  before_script:
    - npm install -g pnpm@6
    - pnpm config set store-dir `pwd`/.pnpm-store
    - pnpm recursive install --frozen-lockfile=false
  script:
    - pnpm run consistency
    - pnpm run build
    - pnpm run pretest
    - node packages/parallel_test.js
    # - node packages/run_all_mocha_tests.js DISCO3
 
