#package-lock.json

yarn.lock
.vs/
.DS_Store
.idea/
.vscode/
.project
.settings/
openssl/
specs/
node_modules/
tmp/
lerna-debug.log
.coveralls.yml
coverage
*.swp
*.bak
*.patch
.checksum
*#
*~
tmptmp/
demo/
code_gen/*.csv
code_gen/*.xsd
code_gen/*.wsdl
code_gen/*.bsd
code_gen/*.xls
code_gen/*.xml
documentation/worldweatheronline.key
*.tgz
npm-debug.log
output2.bin
Vagrantfile
.vagrant
.c9
output2.bin
_generated_
_test_generated_
pending_*
schemas/[0-9]*
schemas/ServerState_enum.js
schemas/ServerStatus_schema.js
schemas/ServiceCounter.js
schemas/ServiceCounter_schema.js
schemas/SessionDiagnostics.js
schemas/SessionDiagnostics_schema.js
schemas/ServerStatus.js
certificates/
bin/openssl/
openssl-1.0.2-i386-win32.zip
open*win*.zip
CTTA/
dist/
distNodeJS/
distHelpers/
bin/.history*
test_support/
code_gen/1.02
code_gen/1.03
code_gen/1.04*
code_gen/old
out
bin/crypto_create_CA_config.js
_source_ignored_
pki
test_fixtures/
.nyc_output/
*.heapsnapshot
*.log
*.stackdump
build/
doc1/
*.tsbuildinfo
_packages_extra2/
_packages_extra3/
.clinic/
docs2/