
# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

env:
  COVERALLS_REPO_TOKEN: "${{ secrets.COVERALLS_REPO_TOKEN }}"
  COVERALLS_GIT_BRANCH: "${{ github.ref }}"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build_on_windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/cache@v2
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-pnpm-store
    - run: npm install -g pnpm
    - run: pnpm recursive install
    - run: pnpm run build --if-present
    - run: pnpm run pretest
    - run: pnpm test
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/cache@v2
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-pnpm-store
    - run: npm install -g pnpm
    - run: pnpm recursive install
    - run: pnpm run build
    - run: pnpm run pretest
    - run: pnpm test
  coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 12.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}  
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-store
      - run: npm install -g nyc@14 istanbul coveralls codecov
      - run: npm install -g codeclimate-test-reporter
      - run: npm install -g pnpm
      - run: pnpm recursive install
      - run: pnpm run build 
      - run: pnpm run pretest
      - run: make test-cov     
        
      # - name: coveralls
      #  uses: coverallsapp/github-action@master
      #   with:
      #   github-token: ${{ secrets.GITHUB_TOKEN }}
